<h4>{{index | pad:2}}. {{ques.title}}【{{type.type}}】</h4>
<ul>
	{{each ques.contitem as val index}}
	<li>
		<label>
			<input name="question"
				   value="{{index | num2str}}"
				   type="{{type.input}}"
				   {{index | num2str | quesChecked:sheet.answer}}
				>
			{{val}}
		</label>
	</li>
	{{/each}}
</ul>