.transiton (@s) {
  -webkit-transition: @s;
  -moz-transition: @s;
  -ms-transition: @s;
  -o-transition: @s;
  transition: @s;
}

.w-recommend {
  padding-top: 4px;
  a {
    color: #333;
  }

  .rec-title {
    padding: 24px 0 13px;
    line-height: 19px;
    *line-height: 23px;
    border-bottom: 2px solid #f0841f;
    position: relative;
    h3, p {
      margin: 0 26px 0 0;
      display: inline;
    }
    h3 {
      font-size: 20px;
      color: #333;
      i {
        font-size: 24px;
        color: #ef8217;
      }
    }
    p {
      font-size: 20px;
      color: #aaa;
	  text-shadow: 0 0 1px;
      *font-weight: bold;
    }
    em {
      // content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: #f0841f;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
      position: absolute;
      right: 30px;
      bottom: -6px;
	  // behavior: url(//f3.v.veimg.cn/f2e/gallery/PIE-1.0.0/PIE.htc);
    }
  }

  .rec-main {
    background: #f8f8f8;
    padding: 29px 0 16px 20px;
  }


  ////////////////////////////////
  .list-a {
    overflow: hidden;
    a {
      float: left;
      height: 34px;
      line-height: 34px;
      border: 1px solid #dcdcdc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 0 16px;
      margin: 0 12px 14px 0;
      text-align: center;
      .transiton(background .2s);
      &.sign {
        color: #ef8f32;
      }
      &:hover {
        background: #ffa245;
        border-color: #ffa245;
        color: #fff;
      }
    }
    &.big {
      margin-right: -15px;
      a {
        margin-right: 20px;
        padding: 0 23px;
      }
    }
  }
  
  ////////////////////////////////
  .list-b {
    overflow: hidden;
    h4 {
      margin: 0 0 14px;
      font-size: 16px;
      line-height: 18px;
      color: #333;
      width: 100%;
    }
    .ch-list {
      i {
        display: inline-block;
        width: 140px;
        height: 30px;
      }
      a {
        font-size: 14px;
        color: #666;
      }
    }
    a {
      display: inline-block;
      line-height: 24px;
      .transiton(color .15s);
      max-width: 93%;
      &:hover {
        color: #ef8f32;
        text-decoration: underline;
      }
    }
    .line {
      display: block;
      height: 11px;
      _height: 9px;
      overflow: hidden;
      border-bottom: 1px dashed #dcdcdc;
      margin: 0 14px 17px 0;
      clear: both;
      &.last {
        border: 0;
        margin: 0;
        height: 5px;
      }
    }
  }
  
  ////////////////////////////////
  .rec-main-hot {
	  border-right:solid 1px #eee;
	  overflow: hidden;
  }
  .list-c {
    width: 745px; margin: 0;
    li { padding:25px 24px 40px 24px; position:relative; float:left; border-left:solid 1px #eee; border-bottom:solid 1px #eee;}
    li .bbwb_li_a{ width:196px; height:126px; clear:both; overflow:hidden; display:block; border:solid 1px #eee; text-align:center;}
    li .bbwb_li_a img{margin:0 auto; max-height:126px; max-width:196px;display:block;height:100%;}
    li .body_bwb_txtbox{ width:198px; margin:10px 0; overflow: hidden }
    li .body_bwb_txtbox li{ width:198px; padding:0px; border:none; float:left;}
    li .body_bwb_txtbox li a{ line-height:24px; color:#666; float:left; width:100%; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; font-size: 12px; }
    li .body_bwb_txtbox li a:hover{ color:#ef8217;}
    li .body_bwb_txtbox li span{ float:right; line-height:24px;}
    li .body_bwb_bottom{ bottom:0px; left:0px; text-align:right; width:100%; background:#f8f8f8; position: absolute; }
    li .body_bwb_bottom .body_bwb_botxt{ margin:0 0 0 25px; line-height:40px; float:left;}
    li .body_bwb_bottom a{ line-height:40px; padding-right:25px; color:#ef8217;}
  }
   
}