.w-float {

  display: block;
  position: fixed;
  left: 50%;
  bottom: 12%;
  margin-left: 500px;
  
  img, a {
    display: block;
    margin-bottom: 11px;
    cursor: pointer;
  }

  a {
    width: 78px;
    height: 34px;
    background: url(top.png);
  }

}