<div class="ve-w-cock">
    <div class="ck-std">
        已选职位：
        <div class="ck-std-list"></div>
    </div>

    <h3 class="ck-title">{{val.title}}</h3>
    <div class="ck-main {{val.mclass}}">
        <table cellpadding="0" cellspacing="0" border="0">
            {{each val.hot as child}}
                <tr>
                    <th rowspan="2"></th>

                    <td></td>
                </tr>
            {{/each}}
        </table>
    </div>

</div>


