<div class='ve-w-cock'>
    <div class='ck-std'></div>

    <div class='ck-title'></div>
    <div class='ck-hotjobs'>
    	
    </div>

    <div class='ck-title'></div>
    <div class='ck-alljobs'>
        
    </div>
</div>
