<div class="ve-w-cock">
    <div class="ck-std">已选职位：</div>

    <h3 class="ck-title">热门职位</h3>
    <div class="ck-hotjobs">
    	<div class="list">
            <h4></h4>

        </div>
    </div>

    <h3 class="ck-title">所有职位</h3>
    <div class="ck-alljobs">
        
    </div>
</div>
