.select {
  background: #fff;
  border: 1px solid #dedede;
  cursor: default;
  position: relative;
  em {
    width: 55px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(select.png?__sprite) no-repeat right 0;
  }
}


.search-form-box {
  width: 100%;
  overflow: hidden;
  margin-top: 12px;
}


.w-search {
  padding: 54px 0 36px;
  background: #fffaf5;
  font-size: 16px;
  position: relative;
  z-index: 1;

  .search {
    width: 990px;
    margin: auto;
  }
 
  i.line {
    display: block;
    width: 952px;
    height: 0;
    overflow: hidden;
    margin: auto;
    border-top: 1px dashed #e8d7c6;
  }

  .form-box {
    width: 1050px;
    overflow: hidden;
    padding-top: 30px;
    span.select {
      color: #999;
    }
    span.isSet {
      color: #333;
    }
    span.disabled {
      background: #f3f3f3;
    }
  }

  .work-mode {
    margin-left: 20px;
    span {
      background: url(radio.png?__sprite) no-repeat 4px 11px;
      padding: 0 4px 0 28px;
      margin-right: 24px;
      cursor: pointer;
      display: inline-block;
      line-height: 2.4em;
      &.active {
        background-position: 4px -29px;
      }
    }
  }

  .form-bottom {
    width: 645px;
    text-align: right;
    padding-top: 32px;
    &.action {
      .submit {
        -webkit-transition: .5s .2s;
        -moz-transition: .5s .2s;
        -o-transition: .5s .2s;
        transition: .5s .2s;
        width: 168px;
        padding: auto;
      }
    }
  }

  .submit {
    width: 0;
    padding: auto 0;
    height: 48px;
    background: #ef8217;
    font-size: 20px;
    color: #fff;
    border: 0;
    margin-right: 20px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .clear-form {
    color: #666;
    text-decoration: underline;
    background: none;
    border: none;
  }

  .select {
    float: left;
    width: 263px;
    height: 36px;
    padding: 5px 0;
    line-height: 36px;
    margin: 0 57px 20px 20px;
    i {
      margin-left: 15px;
      display: inline-block;
      width: 75%;
    }
    &.active {
      em {
        background-position: right -46px;
      }
    }
  }

}

.cw-droplist-i.w-search-drop {
  li {
    margin: 0 4px;
    padding: 0 12px;
  }
}

