.w-info {
	background: #fff;
	h2 {
		font-size: 36px;
		line-height: 3.2em;
		margin: 5px 0 0;
	}
	ol {
		list-style-type: decimal;
		padding-left: 54px;
		font-size: 14px;
		line-height: 24px;
	}
	
	
	
	
	h3 {
		font-size: 18px;
		color: #fff;
		line-height: 46px;
		display: inline-block;
		padding: 0 13px 0 21px;
		background: #ffae00 url(h3.png) no-repeat center left;
		margin: 0;
	}
}