.w-keyworks {
  height: 48px;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: 1;

  .kwbtn {
    display: inline-block;
    width: 142px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #dedede;
    background: #f6f6f6;
    text-align: center;
    color: #000;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    margin: 0 2px;
    cursor: pointer;
    span {
      width: 100px;
      display: inline-block;
    }
    b {
      display: block;
      width: 8px;
      height: 8px;
      overflow: hidden;
      position: absolute;
      right: 6px;
      bottom: 7px;
      background: url(icon-b.png);
    }
  }

  .search-bar {
    display: inline-block;
    width: 498px;
    height: 44px;
    border: 2px solid #ef8217;
    background: #fff;
    margin: 0 10px;
  }

  .search-type {
    float: left;
    width: 106px;
    height: 44px;
    line-height: 44px;
    background: #f6f6f6;
    font-size: 16px;
    text-align: center;
    position: relative;
    color: #666;
    cursor: default;
    &.active {
      .search-list {
        display: block;
      }
    }
    .arrows {
      display: inline-block;
      width: 12px;
      height: 8px;
      overflow: hidden;
      background: url(dds.png) no-repeat center;
    }
  }


  .search-list {
    position: absolute;
    width: 100%;
    background: #f6f6f6;
    margin: 0 -2px;
    border: 2px solid #ef8217;
    border-top: none;
    display: none;
    li {
      height: 39px;
      border-top: 1px solid #e7e7e7;
      &:hover, &.action {
        color: #ef8217;
      }
    }
  }



  .search-val {
    float: left;
    border: none;
    width: 252px;
    padding: 11px 10px;
    font-size: 16px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .search-btn {
    float: right;
    width: 118px;
    height: 44px;
    line-height: 44px;
    background: #ef8217;
    color: #fff;
    font-size: 20px;
    text-align: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .search-more {
    vertical-align: top;
    display: inline-block;
    margin-top: 14px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    b {
      display: inline-block;
      width: 14px;
      height: 8px;
      margin-left: 3px;
      background: url(ddx.png);
    }
  }
  &.action {
    .search-more b {
      background: url(dss.png);
    }
    .search-btn {
      overflow: hidden;
      width: 0;
    }
    .search-val {
      width: 369px;
    }
  }
}