.ve-w-cock {
  width: 100%;
  font-size: 14px;
  margin: -9px 0;

  h3 {
    color: #ee8216;
    font-size: 14px;
    background: #fff5e6;
    margin: 0 -20px;
    padding: 0 20px;
    line-height: 30px;
  }

  .ck-table {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    th {
      text-align: left;
      vertical-align: top;
      width: 1px;
    }
  }

  .ck-std {
    overflow: hidden;
    line-height: 29px;
    h4 {
      float: left;
      font-weight: bold;
      color: #ee8216;
      margin: 0 0 12px;
    }
  }

  label {
    &:hover, &.hover {
      background: #fe9901;
      color: #fff;
    }
  }

  .ck-std-list {
    float: left;
    width: 750px;
    margin: 0 -25px 12px 0;
    label {
      display: inline-block;
      padding-right: 5px;
      margin-right: 20px;
    }
    input {
      margin: 0 4px;
      vertical-align: -1px;
    }
  }

  .item-cache {
    position: absolute;
    left: 0;
    top: 0;
    background: #fffaf6;
    border: 1px solid #fe9901;
    //padding: 2px 0 6px;
    display: none;

    td, th {
      text-align: left;
      height: 26px;
      line-height: 26px;
      overflow: hidden;
      white-space: nowrap;
    }
    label {
      display: block;
      padding: 0 15px 0 9px;
    }
    input {
      vertical-align: -1px;
      margin-right: 4px;
    }
  }

  .ck-job-hot {
    padding: 13px 0;
    .ck-dashed {
      td {
        height: 15px;
      }
      i {
        display: block;
        border-bottom: 1px dashed #dedede;
      }
    }
    td {
      width: 30.7%;
      height: 26px;
      padding-right: 5px;
    }
    label {
      display: block;
      width: 100%;
    }
    input {
      margin: 0 5px;
      vertical-align: -1px;
    }
  }

  .ck-job-all {
    padding-top: 10px;
    margin: 0 -5px;
    td {
      width: 20%;
      height: 32px;
    }
    span, label {
      display: block;
      margin: 0 2px;
      padding: 0 4px;
      line-height: 26px;
      &:hover, &.hover {
        background: #fe9901;
        color: #fff;
        input {
          display: inline-block;
        }
      }
    }
    input {
      margin-right: 4px;
      vertical-align: -1px;
      display: none;
    }
  }

  .ck-area-hot {
    margin: 12px 0;
    th, td {
      height: 30px;
    }
    th {
      vertical-align: middle;
      width: 24px;
      font-weight: normal;
    }
    td {
      width: 80px;
    }
    label {
      display: block;
      height: 24px;
      padding-left: 5px;
      &:hover, &.hover {
        input {
          display: inline-block;
          vertical-align: -1px;
        }
      }
    }
    input {
      display: none;
      margin-right: 4px;
    }
  }

  .ck-area-all {
    th, td {
      height: 32px;
      vertical-align: middle;
      width: 80px;
    }
    th {
      color: #ef8217;
    }
    input {
      vertical-align: -1px;
      margin-right: 4px;
      display: none;
    }
    span, label {
      display: block;
      height: 24px;
      padding: 0 5px;
      &:hover, &.hover {
        background: #fe9901;
        color: #fff;
        input {
          display: inline-block;
        }
      }
    }
  }

}