<div class="w-cpplayall">
	
	<div class="w-cpplayall-top">
		<div class="w-cpplayall-title">
			<p>岗位</p>
		</div>
		<div class="w-cpplayall-line"></div>
	</div>

	<div class="w-cpplayall-main">
		<div class="w-cpplayall-main-content">
			<label>高级管理：</label>
			{{each data.pojob as item index}}
			<ul>
				{{each item.paname as val index}}
				<li><a href="info?fis_config_namespace=ceping">酒店总裁/总经理</a></li>
				{{/each}}
			</ul>
			{{/each}}
		</div>
	</div>

</div>