<div class="w-cpplayall">
	
	<div class="w-cpplayall-top">
		<div class="w-cpplayall-title">
			<p>岗位</p>
		</div>
		<div class="w-cpplayall-line"></div>
	</div>

	<div class="w-cpplayall-main">
		<div class="w-cpplayall-main-content">
			<label>高级管理：</label>
			<ul>
				<li><a href="info?fis_config_namespace=ceping">酒店总裁/总经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">市场运营总监/市场销售部总监</a></li>
				<li><a href="info?fis_config_namespace=ceping">总账会计</a></li>
				<li><a href="info?fis_config_namespace=ceping">人力资源部总监/经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">物业总经理/经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">高尔夫总裁/总经理</a></li>
			</ul>
		</div>
		<div class="w-cpplayall-main-content">
			<label>中层管理：</label>
			<ul>
				<li><a href="info?fis_config_namespace=ceping">市场销售部经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">大堂副理/宾客服务经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">客房部经理/行政管家</a></li>
				<li><a href="info?fis_config_namespace=ceping">餐饮经理/部长</a></li>
				<li><a href="info?fis_config_namespace=ceping">客服经理</a></li>
				<li><a href="info?fis_config_namespace=ceping">物业经理/项目经理主任</a></li>
			</ul>
		</div>
		<div class="w-cpplayall-main-content">
			<label>基层管理:</label>
			<ul>
				<li><a href="info?fis_config_namespace=ceping">宾客关系主任</a></li>
				<li><a href="info?fis_config_namespace=ceping">楼层主管/领班</a></li>
				<li><a href="info?fis_config_namespace=ceping">餐饮主管/领班</a></li>
				<li><a href="info?fis_config_namespace=ceping">保安主管/领班</a></li>
				<li><a href="info?fis_config_namespace=ceping">物业主管</a></li>
				<li><a href="info?fis_config_namespace=ceping">球童主管</a></li>
			</ul>
		</div>
	</div>

</div>